######################################################################################
#
# clang-format (12 or later) configuration file for GLIWA C code
# --------------------------------------------------------------
# When integrating T1 into an embedded software project, GLIWA provides template C
# source modules. These provide the required interfaces and tell the user in comments
# what needs to be done. These templates are formatted using this clang-format
# configuration file. Using it for the GLIWA templates instead of any other
# clang-format configuration files avoids massive changes to the templates when
# editing them. This simplifies browsing the differences.
#
# $Author: peter $
#
# $Revision: 64130 $
#
######################################################################################

BasedOnStyle: Microsoft

AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BraceWrapping:
    BeforeWhile: true
ColumnLimit: 86
# Allow polyspace and copyright comment lines to be too long
CommentPragmas: '^ polyspace|^  \\copyright'
IndentPPDirectives: AfterHash
SortIncludes: Never
SpaceAroundPointerQualifiers: Both
SpaceBeforeParens: Never
SpaceInEmptyParentheses: true
SpacesInParentheses: true
